#--------------------------------------------------
# Répertoire : //
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Article avec numéro de page :
RewriteRule "accueil.html" "controllers/home_controller.php" 
RewriteRule "parametres.html" "controllers/settings_controller.php" 
RewriteRule "contact.html" "controllers/contact_controller.php" 
RewriteRule "actualites.html" "controllers/news_controller.php" 
RewriteRule "arts-de-la-table.html" "controllers/artsTable_controller.php" 
RewriteRule "decoration.html" "controllers/decoration_controller.php" 
RewriteRule "bureautique.html" "controllers/office_controller.php" 
RewriteRule "jouets.html" "controllers/games_controller.php" 
RewriteRule "profil.html" "controllers/user_controller.php" 
RewriteRule "informations.html" "controllers/workingInfo_controller.php" 
RewriteRule "administrateur.html" "controllers/admin_controller.php" 
RewriteRule "liste_utilisateurs.html" "controllers/user-controller.php" 

ErrorDocument 404 /controllers/error-controller.php