
    .navbarImgLogo {
        width: 15%;
    }
    .titleSite {
        font-size: 25px;
    }

    .boxContact {
        margin: 10px 5px 5px 5px;
        padding: 10px;
        border-radius: 10px;
        background-color: #c7964d10;
    }

    .boxConnect {
        margin: 10px 5px 5px 5px;
        padding: 10px;
        width: 70%;
        border-radius: 10px;
        background-color: #c7964d10;
        justify-content: center;
        text-align: right;
        align-items: center;
    }

    .boxCategory {
        margin: 5px 0px 10px 0px;
    }

    .boxInput {
        margin: 0px -10px 15px -10px;
    }

    .inputText {
        border-radius: 10px;
        border: 0px;
        height: 30px;
        width: 100%;
        box-shadow: inset 0 3px 2px #EBE6E6;
    }

    textarea {
        border-radius: 10px;
        border: 0px;
        /* height:30px; */
        width: 100%;
        box-shadow: inset 0 3px 2px #EBE6E6;
    }

    .btnValid {
        margin: 15px 0px 0px 0px;
        width: 80%;
        height: 40px;
        border: 0px;
        border-radius: 10px;
        background-color: #66330010;
        color: #637589;
    }

    .boxBlank {
        height: 50px;
    }

    .searchImg {
        width: 70%;
    }

    .profileImg {
        width: 70%;
        color: #663300;
    }
    .productNew {
        width: 90%;
    }
    .cmdExpand {
        width: 90%;
    }