
    .navbarImgLogo {
        width: 10%;
    }
    .navbar-collapse{
        flex-grow:0;
    }
    .titleSite {
        font-size: 15px;
    }


    .boxCategory {
        margin: 5px 0px 10px 0px;
    }

    .boxInput {
        margin: 0px -10px 15px -10px;
    }
    
    .boxConnexion {
        padding: 20px;
    }


    textarea {
        border-radius: 10px;
        border: 0px;
        /* height:30px; */
        width: 100%;
        box-shadow: inset 0 3px 2px #EBE6E6;
    }

    .boxBlank {
        height: 10px;
    }

    .menuImg {
        width: 70%;
    }

    .searchImg {
        width: 350%;
    }

    .profileImg {
        width: 350%;
    }
    .productNew {
        width: 500%;
    }
    .cmdExpand {
        width: 80%;
    }