/*------------- IMPORT POLICE ROBOTO ---------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #EA9999;
    background-image: url('../img/icons/background_wood.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #1D0902; */
}

main {
    flex: auto;
}

.navbar {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navbarImgBackground {
    background-color: #77623d;
}

.navbarScrollHide {
    animation: animHideNavbar 1s ease 0s 1 normal forwards;
}

@keyframes animHideNavbar {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}

.navbarScrollShow {
    animation: animShowNavbar 0.3s ease 0s 1 normal forwards;
}

@keyframes animShowNavbar {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-floating {
    padding: 15px;
}

.form-label {
    padding-left: 20px;
}

.nav-link,
.progress-bar {
    text-decoration: none;
    color: #663300;
}

.nav-link:hover {
    text-shadow: 0 5px 5px rgb(255, 250, 234, 0.5);
    color: #EA9999;
}


h4 {
    /* text-shadow: 1px 1px 1px #402013; */
}

h4:hover {
    text-shadow: none;
}

.boxContact {
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: #663300;
}

.boxContact:hover {
    box-shadow: 0 8px 32px 0 rgb(255, 250, 234, 0.2);
}

.boxConnect {
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
}

.boxContactTitle {
    font-size: 20px;
    font-weight: bold;
    color: #EA9999;
    text-shadow: #EA9999;
}

.boxSubCategory {
    background-color: #66330050;
    border-radius: 10px;
}
.boxSubCategoryUp {
    background-color: #66330050;
    border-radius: 10px 10px 0px 0px;
}
.boxSubCategoryDown {
    background-color: #66330050;
    border-radius: 0px 0px 10px 10px;
}

.phoneImg {
    width: 5%;
}

.networkImg {
    width: 15%;
}


a {
    color: #663300;
    text-decoration: none;
}

a:hover {
    color: #EA9999;
}

.titlePage {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    color: #EA9999;
    text-shadow: #EA9999;
}

.descriptionPage {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #EA9999;
    text-shadow: #EA9999;
}

.productImg {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
    padding: 0 0 0 0;
}

.productImgWorking {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
    padding: 0 0 0 0;
    object-fit: cover;
    object-position: center center;
}

.productImgLeft {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(33, 35, 38, 0.5) 10px 0px 10px -10px;
    padding: 0 0 0 0;
}

.productImgRight {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: rgba(33, 35, 38, 0.5) 10px 0px 10px -10px;
    padding: 0 0 0 0;
}

.boxWhite {
    background-color: White;
}

.boxProductVue {
    justify-content: space-around;
    /* background-color: blue; */
}

.cmdDetails {
    border: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    box-shadow: inset 0 3px 2px #EBE6E6;
}



.copyright {
    font-size: 10px;
    font-style: italic;
    color: #AEAEAE;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputText {
    border-radius: 10px;
    border: 0px;
    height: 30px;
    width: 100%;
    box-shadow: inset 0 3px 2px #EBE6E6;
    padding: 5px 0px 5px 10px;
}

.defImg {
    max-width: 100%;
    max-height: 450px;
}

.imgPreview {
    border-radius: 10px;
}

.bigifyTextSelected {
    font-size: 25px;
    font-weight: bold;
    color: #EA9999;
    text-shadow: #ffd7d7;

}

.backgroundSelected {
    background-color: #ffd7d7;
}

.btnValid {
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: #663300;
    font-size: 22px;
    /* width: 300px; */
}


.btnModify {
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: #663300;
    /* font-size: 22px; */
    width: 100%;
}

.errorBox {
    width: 100%;
    height: 50px;
    background-color: lightcoral;
}

.errorForm {
    color: darkred;
    font-size: 20px;
}

.validBox {
    width: 100%;
    height: 50px;
    background-color: lightgreen;
}

.validForm {
    color: green;
    font-size: 20px;
}

.boxMenuAdmin {
    min-height:100vh;
    background-color:#663300;
    border-radius:0px 10px 10px 0px;
}
.boxMenuAdminSub {
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0px 10px 10px 0px;
    color: #663300;
}